
.recipe {
  float: left;
  margin-left: 15px;
}

.recipe > span {
  font-size: 20pt;
  margin-left: -8px;
  margin-right: -8px;
}

.machine-div {
    position: relative;
    text-align: center;
    width: 1000px;
    height: 600px;
    margin: auto;
}

.recipe-book {
  /*text-align: left;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;*/
  text-align: left;
  margin-top: 20px;
  height: 200px;
  background: white;
  border: thick black solid;
}

.small {
  transform: scale(0.8);
/*  font-size: 16pt;*/
  margin: 6px !important;
}

.spell {
  position: relative;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 20px;
  display: inline-block;
  margin: 10px;
  background: #E1E1E1;
  border: medium black solid;
  font-weight: bold;
  font-size: 12pt;
  z-index: 10;
/*  border-radius: 100%;*/


}

.active {
/*  border: medium #DCC91D solid;*/
  background: #FFF28D;
  box-shadow: 0px 0px 5px #FFE200;
}

.chemical {
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 30px;
  display: inline-block;
  margin: 10px;
  border-radius: 100%;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 16pt;
  border: medium black solid;
}

.potion.active {
  border: medium #FFE622 solid;
}


/*.pulled {
  transform: rotate(30deg);
  transition: transform 0.5s ease;
}*/


.progress-button {
  background-color: #F1F1F1;
  border: 2px #191919 solid;
  border-radius: 100%;
}

.progress-button.red {
  background-color: #EE000B;
  border: 2px #920806 solid;
  box-shadow: 0px 0px 6px #EE000B;
}
.progress-button.green {
  background-color: #25F905;
  border: 2px #189A02 solid;
  box-shadow: 0px 0px 6px #25F905;
}

.machine {
  position: relative;
  width: 507px;
  height: 207px;
  border: 4px black solid;
  background-color: white;
  z-index: 3;
}
.machine-panel {
  background-color: gray;
/*  opacity: 0.5;*/
  position: absolute;
  z-index: 1;
}

.box {
  position: absolute;
  width: 50px;
  height: 50px;
  border: medium black solid;
  z-index: 2;
}


/* GENERAL PURPOSE  */

.text {
  margin: auto;
  max-width: 700px;
}

.btn-help {
  background-color: #3fc3ee;
  border: none; /* No border */
  color: white; /* White text */
  text-align: center; /* Centered text */
  display: inline-block; /* Inline-block element */
  font-size: 20px; /* Large text size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50%; /* Rounded shape */
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height */
  font-weight: bold; /* Bold text */
}

.swal2-html-container {
  font-size: 10pt !important;
}

button.btn:disabled {
    opacity: .5;
}

.mono-text {
  font-family: monospace;
  font-size: 8pt;
/*  color: red;*/
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.btn-pulse {
  animation: pulse 1.5s infinite;
  transition: transform 0.5s;
/*  border: 3px solid rgba(0, 123, 255);*/
  font-weight: bold;
  background-color: rgba(0, 123, 255, 0.2); /* Customize button background color */
  color: rgba(0, 123, 255);
}

#welcome-message {
   max-width: 95%; /* this is mainly an IE 10-11 fix */
   /*text-align: center;*/
   margin: auto;
   margin-top: 20px;
   text-align: center
 }

 #display {
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
 }

 #display:focus {
   outline: none;
 }

.center {
  text-align: center;
}
.left {
  display: block;
  float: left;
}
.right {
  display: block;
  float: right;
}
.lower {
  clear: both;
  padding-top: 20px;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.centered {
  display: block;
  margin-left: auto; 
  margin-right: auto
}
img.display {
  padding: 10px;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto
}


#load-icon {
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 30px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@keyframes animatebottom { 
  from{ bottom:-40px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#success-load {
  display: none;
  text-align: center;
}


/* psiturk style below here */


/********************************************************************/
/* Generic element styles                                           */
/********************************************************************/

body {
    padding:0px;
    margin: 0px;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 14pt;
}

h1 {
    margin-top: 0px;
}


/* text styling */
strong {
  font-weight: 600;
}

ul {
    margin: 0;
}

ol.insructions > li {
    margin: 1em 0;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}

/* these are all the same for now, but easy to modify individually */
#container-flyer, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    background: white;
    margin: 30px;
}

#container-consent {
  max-width: 1000px;
  margin: auto;
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 200px;
    padding: 2px;
}

/* consent.html - the consent form */
.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

.spacer {
    clear: both;
}

/********************************************************************/
/* Index slide components                                           */
/********************************************************************/

img.logo { height: 6.25em; }

#consent {
    padding-left: 4%;
    padding-right: 4%;
    margin: 1.5em 0;
    text-align: justify;
}

span.consent {
    font-color: red;
}

/********************************************************************/
/* Finished slide components                                        */
/********************************************************************/

#submit_error_slide {
    display: none;
}

#resubmit_slide {
    display: none;
}

/********************************************************************/
/* Error                                                            */
/********************************************************************/

#error-message {
    background-color: #FEA;
    padding: 0 0.625em;
    border: 1px solid black;
    margin: 0.625em;
}