
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Error</title>
    <link rel="Favicon" href="static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen" />
  </head>

  <body>
    <div class="slide">
      <h1>The experiment encountered an error!</h1>
      <div class="blue">
        {% if errornum == 1008 %}

        <p><b>
          Sorry, our records indicate that you have attempted to
          complete this study, but quit before finishing.
        </b></p>

        {% elif errornum == 1010 %}

        <p><b>
          Sorry, our records indicate that you have already completed (or
          attempted to complete) this study.
        </b></p>

        {% elif errornum == 1014 %}
        <p><b>Sorry, it looks like you're not using an allowed browser or device</b></p>
        <p>You cannot complete this HIT using a mobile device or Internet Explorer.</p>

        {% else %}

        <p><b>
          Sorry, there was an unexpected error in our processing of your study.
        </b></p>

        {% endif %}

        <p>If you would like to receive partial compensation or feel you
        have reached this page in error, please send a message on prolific
        and send the following information:
        </p>
      </div>
        <p>
          Our sincere apologies!
        </p>
      </div>
    </div>
  </body>
</html>
